@{
    ViewData["Title"] = "Ana Sayfa";
}



<div class="text-center">
    <h1 class="cyber-title">Eren Ali Kriptoloji</h1>
    
    <div class="crypto-section">
        <div class="crypto-description">
            <p>RSA: Asimetrik şifreleme algoritması olan RSA, güvenli veri iletimi için açık ve gizli anahtar çifti kullanır.</p>
            <a asp-controller="RSA" asp-action="Index" class="btn btn-success crypto-button">RSA Şifreleme</a>
        </div>
        
        <div class="crypto-description">
            <p>AES: Simetrik şifreleme algoritması olan AES, yüksek güvenlik ve hızlı performans sunan modern bir şifreleme standardıdır.</p>
            <a asp-controller="AES" asp-action="Index" class="btn btn-success crypto-button">AES Şifreleme</a>
        </div>
        
        <div class="crypto-description">
            <p>SHA256: Veri bütünlüğünü sağlamak için kullanılan, tek yönlü ve sabit uzunluklu hash fonksiyonudur.</p>
            <a asp-controller="SHA256" asp-action="Index" class="btn btn-success crypto-button">SHA256 Hash</a>
        </div>

    </div>
</div>